.logo {
    margin-left: 38%;
}

.infos {
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.infos input:focus {
    outline: none;
    width: 25%
}

.infos input {
    border: none;
    border-bottom-style: solid;
    width: 25%
}

.inputs {
    padding: 10px
}

li {
    list-style-type: none;
}

div {
    text-transform: uppercase;
    margin-left: 44%;
    font-size: 25px;
    color: red;
}

.bt {
    cursor: pointer;
    font-size: 20px;
    border: none;
    margin-left: 3%;
    text-transform: uppercase;
    color: red;
    background: white;
    font-weight: bold;

}